{% extends 'components/base.html' %}

{% block content %}

{% include 'components/navigation.html' %}

  <br>
  <div class="hero-section">
    <h1> About Shopee Zero</h1>
    <h3> Inspired by GPT-Zero and Mule-Zero</h3>
    <br>
    
  </div>

  <div class="about-section">
    <h2>Our Story</h2>
    <br>
    <p>Shopee Zero was founded in 2023 by a team of passionate entrepreneurs from SIT who want to make it easier for e-commerce businesses. 
      We believe that everyone should have access to high-quality electronic accessories, and we are committed to providing our customers with the best possible shopping experience.</p>
    <br>
    <br>
    <br>
    <h2>Our Team</h2>
    <br>
    
    <div class="row">

      <div class="column">
        <div class="cardcolumn">
          <img src="rachel.jpg" alt="Rachel Wan Image">
          <h3 id="user">Rachel Wan</h3>
          <p class="title">Data Head</p>
          <h4>Web Scraping Specialist and Sentiment Analyst</h4>
        </div>
      </div>

      <div class="column">
        <div class="cardcolumn">
          <img src="edmund.jpg" alt="Edmund Lin Image">
          <h3 id="user">Edmund Lin</h3>
          <p class="title">Project Leader</p>
          <h4>Full Stack Generalist and Data Science and Analysis</h4>
        </div>
      </div>

      <div class="column">
        <div class="cardcolumn">
          <img src="brendan.jpg" alt="Brendan Edward Image">
          <h3 id="user">Brendan Edward</h3>
          <p class="title">Data Assistant</p>
          <h4>Web Scraping Specialist and Data Analyst</h4>
        </div>
      </div>

      <div class="column">
        <div class="cardcolumn">
          <img src="alenna.jpg" alt="Alenna New Image">
          <h3 id="user">Alenna New</h3>
          <p class="title">Graphical User Interface Developer</p>
          <h4>Front End Developer and Database Developer</h4>
        </div>
      </div>

      <div class="column">
        <div class="cardcolumn">
          <img src="jingyu.jpg" alt="Jing Yu Image">
          <h3 id="user">Jing Yu</h3>
          <p class="title">Graphical User Interface Developer</p>
          <h4>Front End Developer and Back End Developer</h4>
        </div>
      </div>
    </div>
    <br>
   
   
    <br>
    <h2>Contact Us</h2>
    <br>
    <p>If you have any questions or would like to learn more about Shopee Zero, please feel free to contact us at <a href="mailto:shopeezero101@gmail.com">shopeezero101@gmail.com</a></p>
  </div>
{% endblock %}
