{% extends 'components/base.html' %}

{% block content %}
  {% include 'components/navigation.html' %}

  <br>
  <div class="container">

    <div class="about-section">
      <h1> Contact Shopee Zero</h1>
      <h3>We specialize in hosting e-commerce platforms for electronic accessories.</p>
     
    </div>
    <div class="grid-container">
      <div class="card">
          Office Address: 6 Shenton Way, #12-11C Tower Two, Singapore 068809
      </div>
      <div class="card">
          Phone: +65 6819 0913
      </div>
      <div class="card">
          Email: shopeezero101@gmail.com
          
      </div>
  </div>

<div class="container">
  <form action="mailto:shopeezero101@gmail.com" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Enter first name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Enter last name..">

    <label for="queryselect">Preferred Contact Method</label>
    <select id="queryselect" name="queryselect">
      <option value="Email">Email</option>
      <option value="Phone">Phone</option>
      
    </select>

    <label for="subject">Matter of concern (Please indicate your preferred contact method)</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    

  <input type="submit" value="Submit Your Enquiry">
 

</form>
  </form>
</div>
</div>
</body>
</form>

<br>
</body>
{% endblock %}