{% extends 'components/base.html' %}

{% block content %}

  {% include 'components/navigation.html' %}
<div class="container">
    
        <br>
      
        <body style="font-family: Arial, Helvetica, sans-serif; margin: 0;">

        <div class="about-section" style="padding: 30px; text-align: center; background-color: #474e5d; color: white;">
            <h1 style="font-weight: bold"> CONTACT Page</h1>
            <h5 style="font-style:italic">We are the SIT Shop where we specialised in hosting our e-commerce platform for headphones!</h5>

        <h3 style="text-align:center">Two Major Teams: Data Team and GUI Team</h3>
        </div>
          <br>

        <div class="row">
            <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
                    <img alt="Edmund" src="/w3images/team1.jpg" style="width:100%">
                    <div class="container" style="padding: 0 16px;">
                        <h2>Edmund Lin</h2>
                        <p class="title">Project Leader</p>
                        <p>Overseeing of responsibilities of the GUI Team and Data Team</p>
                        <p>Lizhenming32@example.com</p>

                    </div>
                </div>
            </div>

            <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
                    <img alt="Rachel" src="/w3images/team2.jpg" style="width:100%">
                    <div class="container" style="padding: 0 16px;">
                        <h2>Rachel Wan</h2>
                        <p class="title">Data Team</p>
                        <p>Web scraping, data analysis and data visualization</p>
                        <p>Rachel54@example.com</p>

                    </div>
                </div>
            </div>

            <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
                    <img alt="Brendan" src="/w3images/team3.jpg" style="width:100%">
                    <div class="container" style="padding: 0 16px;">
                        <h2>Brendan Edward</h2>
                        <p class="title">Data Team</p>
                        <p>Web scraping, data analysis and data visualization</p>
                        <p>Brendan71@example.com</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
                    <img alt="Alenna" src="/w3images/team2.jpg" style="width:100%">
                    <div class="container" style="padding: 0 16px;">
                        <h2>Alenna New</h2>
                        <p class="title">Graphical User Interface Team</p>
                        <p>Web application development and database integration</p>
                        <p>Alenna11@example.com</p>

                    </div>
                </div>
            </div>

        <div class="column" style="float: left; width: 33.3%; margin-bottom: 16px; padding: 0 8px;">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); margin: 8px;">
                    <img alt="JingYu" src="/w3images/team2.jpg" style="width:100%">
                    <div class="container" style="padding: 0 16px;">
                        <h2>Jing Yu</h2>
                        <p class="title">Graphical User Interface Team</p>
                        <p>Web application development and database integration</p>
                        <p>Jingyu34@example.com</p>

                    </div>
                </div>
            </div>
{% endblock %}
