{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<header>
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
</header>

<body>
    <h3 style="text-align: center;">Product Detail</h3>
    <main class="container">
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            {% if product.img_src == 'no_src' %}
                <img src="{% static 'img/NoImage.jpg' %}" alt="Default Image">
            {% else %}
                <img src="{{ product.img_src }}" alt="{{ product.product_name }}">
            {% endif %}
        </div>

        <!-- Right Column -->
        <div class="right-column">
            <!-- Product Description -->
            <div class="product-description">
                <span>{{product.category}}</span>
                <h5>{{product.product_name}}</h5>
                <p class="descri">{{product.description}}</p>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">
                <!-- Product Pricing -->
                <div class="product-price">
                    <span>Price: ${{product.price}}</span>
                </div>

                <!-- Product Color -->
                <div class="product-color">
                    <span>Product Details</span>   
                </div>

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <table>
                        <tr>
                            <td>Total Rating :</td>
                            <td>{{product.total_rating}}</td>
                        </tr>
                        <tr>
                            <td>Average Rating:</td>
                            <td>{{product.avg_rating}}</td>
                        </tr>
                        <tr>
                            <td>Total Sold:</td>
                            <td>{{product.total_sold}}</td>
                        </tr>
                        <tr>
                            <td>Quantity Available:</td>
                            <td>{{product.qty_avail}}</td>
                        </tr>
                        <tr>
                            <td>Fav Count:</td>
                            <td>{{product.fav_count}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}