{% extends 'components/base.html' %}
{% load static %}

{% block content %}

  {% include 'components/navigation.html' %}

  <form method="get">
    <input type="text" name="q" placeholder="Search for products" value="{{ search_query }}">
    <button type="submit">Search</button>
  </form>

  <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

  <div class="product-cards">
    {% for product in products %}
        <div class="product-card">
          <div class="image-container">
            {% if product.img_src == 'no_src' %}
              <img src="{% static 'img/NoImage.jpg' %}" alt="Default Image">
            {% else %}
            <img src="{{ product.img_src }}" alt="{{ product.product_name }}">
            {% endif %}
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ product.category }}</h3>
            <p class="product-name">{{ product.product_name }}</p>
            <p class="card-text">Price: ${{ product.price }}</p>
          </div>
        </div>
    {% endfor %}
  </div>

<script>
  const productCards = document.querySelectorAll('.product-card');
  const maxItems = 4;
  let selectedProducts = [];
  
  productCards.forEach(card => {
    card.addEventListener('click', () ==> {
      const productId = card.getAttribute('data-product-id');

      if (selectedProducts.includes(productId)) {
        // Deselect Product
        selectedProducts = selectedProducts.filter(id => id !== productId);
        card.classList.remove('selected');
        card.style.backgroundColor = '';
      } else if {
        // Select Product
        selectedProducts.push(productId);
        card.classList.add('selected');
        card.style.backgroundColor = 'lightblue';
      }
    })
  })

  const compareButton = document.getElementById('checkout-button');
  compareButton.addEventListener('click', () => {
      if (selectedProducts.length > 0) {
          const selectedProductIds = selectedProducts.join(',');
          window.location.href = `/comparison/${selectedProductIds}`;
      } else {
          alert('Please select at least one product before proceeding to checkout.');
      }
  });

  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll(".product-card");

    cards.forEach((card) => {
      card.addEventListener("click", function () {
        // Toggle the visibility of the buttons within the clicked card
        const buttons = card.querySelector(".card");
        buttons.classList.toggle("show-buttons");
      });
    });
  });
</script>
{% endblock content %}