{% extends 'components/base.html' %}
{% load static %}

{% block content %}
  {% include 'components/navigation.html' %}


    <div class="search-container">
      <form method="get">
        <input type="text" placeholder="Type something..." name="q" value="{{ search_query }}">
          <button  type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    </div>
</div>

  <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

  <div class="product-cards">
    {% for product in products %}
        <div class="product-card" data-product-id="{{ product.product_id }}">
          <div class="image-container">
            {% if product.img_src == 'no_src' %}
              <img src="{% static 'img/NoImage.jpg' %}" alt="Default Image">
            {% else %}
              <img src="{{ product.img_src }}" alt="{{ product.product_name }}">
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.category }}</h5>
            <p class="product-name">{{ product.product_name }}</p>
            <p class="card-text">Price: ${{ product.price }}</p>
            <!-- Add buttons here (hidden by default) -->
            <div class="product-buttons">
              <button class="detail-button" onclick="location.href='{% url 'detail' pid=product.product_id %}'">View Details</button>
              <button class="cancel-button">Cancel</button>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

  <div class="compare-button">
    Compare
  </div>

  <a href="{% url 'alluser' %}" class="cart-btn">User Details</a>

<script>
  const productCards = document.querySelectorAll('.product-card');
  const maxItems = 4;
  let selectedProducts = [];
  
  productCards.forEach(card => {
    card.addEventListener('click', () => {
      const productId = card.getAttribute('data-product-id');
      const cardBody = card.querySelector('.card-body');

      if (selectedProducts.includes(productId)) {
        // Deselect Product
        selectedProducts = selectedProducts.filter(id => id !== productId);
        card.classList.remove('selected');
        cardBody.style.backgroundColor = '';
        cardBody.style.border  = '';
      } else if (selectedProducts.length < maxItems) {
        // Select Product
        selectedProducts.push(productId);
        card.classList.add('selected');
        cardBody.style.backgroundColor = 'lightblue';
        cardBody.style.border  = '2px solid blue';
      }
      
      const detailButton = card.querySelector('.detail-button');
      const cancelButton = card.querySelector('.cancel-button');

      if (selectedProducts.includes(productId)) {
        detailButton.style.display = 'block';
        cancelButton.style.display = 'block';
      } else {
        detailButton.style.display = 'none';
        cancelButton.style.display = 'none';
      }
    });
  });
  const compareButton = document.querySelector('.compare-button');
  compareButton.addEventListener('click', () => {
      if (selectedProducts.length > 0) {
          const selectedProductIds = selectedProducts.join(',');
          window.location.href = `/comparison/${selectedProductIds}`;
      } else {
          alert('Please select at least one product before proceeding to checkout.');
      }
  });
</script>
{% endblock content %}