
{% load static %}

{% block content %}

<html lang="en">
<head>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>

<body>
   <h2 class="mid">Product Comparison Table V2</h2>
<div class="zui-wrapper">
  <div class="instruction">
<em><i class="fas fa-arrows-alt-h"></i> Swipe for more products</em>
</div>
    <div id="container" class="zui-scroller">
        <table class="zui-table">
            <thead>
                <tr>
                    <th class="zui-sticky-col">&nbsp;</th>
                    <th id="product-col" class="table-col">
                      <img class="product-img" src="https://scv10mr-cdnpre-p-cus-00.azureedge.net/-/media/images/promega-worldwide/global/templates/product-comparison-page/maxwell-rscinstrument.jpg?rev=f5c81f5d6b0e4ad08583aaa2e42b9ce3&amp;sc_lang=en">
                      <h5>
                        <a href="#" class="product-link">Maxwell<sup>&reg;</sup> RSC
                            <span>&#187;</span>
                        </a>
                      </h5>
                    </th>
                    <th class="table-col">
                       <img class="product-img" src="https://scv10mr-cdnpre-p-cus-00.azureedge.net/-/media/images/promega-worldwide/europe/promega-germany/lp/1908-maxwell-demo/de-1908-maxwell-rsc48-blank.jpg?rev=11270ae5b13f4aca82c1a22a0fa43d34&sc_lang=en">
                      <h5>
                        <a href="#" class="product-link">Maxwell<sup>&reg;</sup> RSC 48
                          <span>&#187;</span>
                          </a>
                      </h5>
                    </th>
                    <th class="table-col">
                       <img class="product-img" src="https://scv10mr-cdnpre-p-cus-00.azureedge.net/-/media/images/promega-worldwide/global/templates/product-comparison-page/maxwell-cscinstrument.jpg?rev=98b8a176d8834e96a582e2b987667794&sc_lang=en">
                      <h5>
                        <a href="#" class="product-link">
                            Maxwell<sup>&reg;</sup> CSC<span>&#187;</span>
                        </a>
                        </h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="zui-sticky-col">Application</td>

                    <td><strong>For Research Use</strong></td>
                    <td><strong>For Research Use</strong></td>
                    <td><strong>For IVD use</strong></td>

                </tr>
                <tr>
                    <td class="zui-sticky-col zui-stripe-row">Catalog Number</td>
                    <td>AS4500</td>
                    <td>AS8500</td>
                    <td>AS6000</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col">Throughput</td>
                    <td>up to 16 samples</td>
                    <td>up to 48 samples</td>
                    <td>up to 16 samples</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col zui-stripe-row">
                        <a href="#" class="product-link">Quantus<sup>&trade;</sup> Flurometer</a> (for quantification)
                    </td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-plus-circle"></i>Optional</td>
                    <td><i class="far fa-times-circle"></i>Not Available</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col">Bar Code Reader</td>

                    <td><i class="far fa-plus-circle"></i>Optional</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col zui-stripe-row">Tablet PC</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col">UV-Light (for decontamination)</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col zui-stripe-row">Vision System (reduces the possibility of user errors)</td>
                    <td><i class="far fa-times-circle"></i>Not Available</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-times-circle"></i>Not Available</td>

                </tr>
                <tr>
                    <td class="zui-sticky-col">Compatible with MaxPrep<sup>&trade;</sup> Liquid Handler</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-check-circle"></i>Included</td>
                    <td><i class="far fa-times-circle"></i>Not Available</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="container" class="zui-scroller">
        <table class="zui-table">
            <thead></thead>
            <tbody>
                <tr><td class="zui-sticky-col"></td></tr>
                <tr><td class="zui-sticky-col zui-stripe-row">Product Name</td></tr>
                <tr><td class="zui-sticky-col">Description</td></tr>
                <tr><td class="zui-sticky-col zui-stripe-row">Average Rating</td></tr>
                <tr><td class="zui-sticky-col">Total Rating</td></tr>
                <tr><td class="zui-sticky-col zui-stripe-row">Total Sold</td></tr>
                <tr><td class="zui-sticky-col">Price</td></tr>
                <tr><td class="zui-sticky-col zui-stripe-row">Qty Available</td></tr>
                <tr><td class="zui-sticky-col">Fav Count</td></tr>
            </tbody>
            {% for product in products %}
            <thead>
                <tr>
                    <th class="zui-sticky-col">&nbsp;</th>
                    <th id="product-col" class="table-col">
                      <img class="product-img" src="{{product.img_src}}">
                      <h5>
                        <a href="{% url 'detail' %}" class="product-link">{{product.name}}</a>
                      </h5>
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr><td>{{product.description}}</td></tr>
                <tr><td>{{product.avg_rating}}</td></tr>
                <tr><td>{{product.total_rating}}</td></tr>
                <tr><td>{{product.total_sold}}</td></tr>
                <tr><td>{{product.price}}</td></tr>
                <tr><td>{{product.qty_avail}}</td></tr>
                <tr><td>{{product.fav_count}}</td></tr>
                <tr><td>{{product.x}}</td></tr>
                <tr><td>{{product.x}}</td></tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'export_to_pdf' %}" class="cart-btn">Export to PDF</a>
</body>

    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
{% endblock content %}