body {
    font-family: 'Roboto', sans-serif;
    }

    .instruction {
    text-align:right;
    margin-bottom: 10px;
    display: none;
    margin-right: 10px;
    }
    em {
    color: lightgrey;
    font-size: 12px;
    font-weight: ital;
    }

    .zui-table {
        border-collapse: separate;
        border-spacing: 0;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }

    h5 {
    font-size: 1em;
    }

    tr:nth-child(even) {
    background: #F3F3F3;
    }
    .zui-table thead th {
        padding: 15px 20px;
        text-align: left;
        vertical-align: top;
        min-width: 180px;
    }
    .zui-table tbody td {
        color: #333;
        font-size: 16px;
        padding: 15px 20px;
        white-space: normal;
        vertical-align: top;
    }
    .zui-wrapper {
    max-width: 1200px;
    position: relative;
     margin: 0 auto; /* This centers the container */
    }

    .mid {
        text-align: center;
        margin-bottom: 20px; /* Adjust as needed */
    }
    .zui-scroller {
        overflow-x: scroll;
        overflow-y: visible;
        padding-bottom: 5px;
        width: 100%;
    }

    .zui-table .zui-sticky-col {
        left: 0;
        position: sticky;
        top: auto;
        font-weight: 700;
        min-width: 200px;
        background-color: #FFFFFF;
        box-shadow: inset -15px 0 10px -7px rgba(0,0,0,0.15);
    }

    .zui-sticky-col.zui-stripe-row {
        background-color: #F3F3F3;
    }

    .product-img {
        height: auto;
        width: 150px;
    }

    .product-link {
    color: #0371BD;
    text-decoration: none;
    }

    th:not(:first-child),
    td:not(:first-child) {
        border-left: 1px solid lightgrey;
    }

    /* general reset/setup styling for icons - needed on all */
    .svg-inline--fa {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block; 
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Pro";
        font-weight: 500;
        font-size: 23px;
        padding-right: 5px;
    }

    .fa-check-circle{
        color: #028845;
    }
    .fa-plus-circle {
        color: #2275D3;
    }
    .fa-times-circle {
        color: gray;
    }

    .scroll-button { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fdb813;
    }

    #prev-button,
    #next-button {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        position: absolute;
        top: 50%;
    }

    #prev-button {
        left: 230px;
        display: none;
    }

    #next-button {
        right: -25px;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 22px;
        padding-right: 0;
    }

    /* Phone */
    @media screen and (max-width: 768px) and (min-width: 320px)  {
    .zui-table .zui-sticky-col {
            min-width: 125px;
        }
        
        .zui-table thead th {
            min-width: 190px;
        }
        
        .zui-table tbody td {
            font-size: 15px;
        }
        
        .product-img {
            width: 100px;
            height: auto;
        }
    /*
        .scroll-button {
            top: 36%;
            width: 40px;
            height: 40px;
        }
        #prev-button {
            display: block;
            left: 130px;
        }
        #next-button {
            left: 35%;
        }
        */
    }

    @media screen and (max-width: 1280px) and (min-width: 768px)  {
    .zui-table .zui-sticky-col {
            min-width: 175px;
        }
        .zui-table thead th {
            min-width: 180px;
        }
    }

    @media screen and (max-width: 1280px) {
        .instruction {
        display: block;
    }  
    }
    .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    }
.cart-btn:hover {
    background-color: #64af3d;
    }