<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>

<form method="get" action="{% url 'search_view' %}">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
        <button type="secondary">Search</button>
    </form>



    <ul>
        {% for item in results %}
            <li>{{ item.your_field }}</li>
        {% empty %}
            <li>No results found.</li>
        {% endfor %}
    </ul>
</body>
</html>
