{% comment %} <div class="topnav">
	<nav class="nav-container">
		<a class="active" href="{% url 'home' %}">The SIT Shop</a>
		<a href="{% url 'about' %}">About</a>
		<a href="{% url 'contact' %}">Contact</a>
	</nav>
</div> {% endcomment %}

<header>
    <div class="topnav">
        <nav class="nav-container">
            <a href="{% url 'about' %}">About</a>
			<a class="active" href="{% url 'home' %}">The SIT Shop</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
    </div>
</header>
